.App{
  width: 100vw;
  height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;

}


input{
  width:350px;
  height: 25px;
  margin:20px;
  border-radius: 5px;
}